.top-caption {
    text-align: center;
    font-size: 36px;
    padding-left: 300px;
    padding-right: 300px;
}

.bottom-caption {
    text-align: center;
    font-size: 36px;
    padding-left: 300px;
    padding-right: 300px;
}

.meme-img {
    width: auto;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.btn-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.share-btn {
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    margin-right: 3px;
    margin-bottom: 5px;
    float: right;
}

.blue {
    background-color: rgba(52, 152, 219, 0.75);
}

.green {
    background-color: rgba(46, 204, 113, 0.75);
}

.red {
    background-color: rgba(231, 76, 60, 0.75);
}