<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {% if top_caption %}
            {{ top_caption }}
        {% else %}
            Meme as a Service
        {% endif %}
    </title>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/common.css" type="text/css">
    <link rel="stylesheet" href="/static/css/api.css" type="text/css">
</head>
<body>
<div class="top-caption">
    {% if top_caption %}
        {{ top_caption }}
    {% endif %}
</div>
<img src="{{ img_url }}" class="meme-img">
<div class="bottom-caption">
    {% if bottom_caption %}
        {{ bottom_caption }}
    {% endif %}
</div>

<div class="btn-bar">
    <a href="/" class="share-btn red" target="_blank">Create your own meme!</a>
    <a href="https://twitter.com/intent/tweet?url={{ meme_url_encoded }}" class="share-btn green" target="_blank">
        Share on Twitter
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ meme_url_encoded }}" class="share-btn blue" target="_blank">
        Share on Facebook
    </a>
</div>
</body>
</html>